* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #cba6f7;
    --primary-color-light: #f5c2e7;
    --accent-color: #89b4fa;
    --accent-color-light: #89dceb;
    --text-color: #cdd6f4;
    --background-color: #1e1e2e;
    --font-family-base: monospace, 'Courier New', Courier;
    --font-size-base: 1rem;

    --surface-color: #313244;
    --surface-hover-color: #45475a;
    --muted-text-color: #a6adc8;
    --faded-text-color: #6c7086;

    --accent-success: #a6e3a1;
    --accent-warning: #f9e2af;
    --accent-danger: #f38ba8;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    padding: 1rem 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.search-title {
    margin-top: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Centers the container on the page */
    padding: 0 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

.logo {
    width: 3rem;
    height: 3rem;
}

input {
    background: var(--surface-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0;
    padding: 0.5em 0.75em;
    font-family: inherit;
    outline: none;
    font-size: 0.9rem;
    width: 400px;
}

input::placeholder {
    color: var(--muted-text-color);
}

input:focus {
    border-color: var(--accent-color);
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.result-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: var(--surface-color);
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    text-decoration: none;
}

.result-item:hover {
    background: var(--surface-hover-color);
    text-decoration: none;
}

.result-item img {
    object-fit: cover;
}

.result-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.result-item div * {
    margin: 0;
}

.result-item p {
    display: flex;
    color: var(--muted-text-color);
    gap: 1rem;
}

.result-item p span:first-child {
    padding: 0 0.5rem;
    color: var(--background-color);
    background-color: var(--accent-success);
    font-weight: 600;
}

.result-item p s {
    color: var(--faded-text-color);
}

.result-item p span:last-child {
    color: var(--accent-warning);
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.slider img {
    width: 100%;
    display: none;
}

.slider img.active {
    display: block;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.controls button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--text-color);
}

.side {
    width: 33.33%;
    flex: 0 0 33.33%;
    overflow: hidden;
    font-size: 0.8rem;
}

.side img {
    max-width: 100%;
    height: auto;
    display: block;
}

.scores {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.scores > div {
    border: 1px solid var(--muted-text-color);
    padding: 0.5em;
}

.rate {
    font-size: 1.25rem;
}

.side p {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border-bottom: 1px solid var(--surface-color);
}

thead {
    font-size: 1rem;
}

.deals tbody {
    font-size: 0.9rem;
}

.deal-img a {
    display: block;
}

.deal-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deals thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--surface-color);
}

.deals img {
    display: block;
    width: 115px;
}

.deals img:active {
    display: block;
}

.deals td, .deals th {
    padding: 0.25em;
}

.deal-title {
    color: var(--primary-color-light);
}

.steamdb {
    margin-top: 2rem;
}

.deals-section {
    margin-top: 2rem;
}

.num-col, .text-col {
    text-align: center;
}

.metacritic {
    padding: 0rem 0.1rem;
    color: var(--background-color);
}

.metacritic.meta-great {
    background-color: var(--primary-color);
}

.metacritic.meta-good {
    background-color: var(--accent-success);
}

.metacritic.meta-okay {
    background-color: var(--accent-warning);
}

.metacritic.meta-bad {
    background-color: var(--accent-danger);
}

.side-table td {
  padding: 0.5em 0;
}

.side-table td:last-of-type {
  text-align: right;
}

.add-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.tags, .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.tags div {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
    padding: 0em 0.25em;
    font-size: 0.8rem;
}

.tags a:hover {
    text-decoration: none;
}

.links a {
    padding: 0em 0.25em;
    font-size: 0.8rem;
}

.pc-req {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 0.8rem;
}

ul {
    margin-left: 1rem;
}

ul li {
    margin-top: 0.1rem;
}

.review-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.review {
    font-size: 0.8rem;
    padding: 1em;
    border: 1px solid var(--muted-text-color);
}

.review p:first-child {
    font-size: 1rem;
    margin-bottom: 0;
}

.positive {
    color: var(--accent-success);
}

.negative {
    color: var(--accent-danger);
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.review-timestamp {
    font-size: 0.7rem;
    color: var(--muted-text-color);
}

.review-text {
    margin-bottom: 0.5rem;
}

.review-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.read-more {
    cursor: pointer;
    color: var(--primary-color);
    display: none;
}

.read-more:hover {
    text-decoration: underline;
}

.price {
    display: flex;
    color: var(--muted-text-color);
    gap: 1rem;
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}

.price div:first-child {
    padding: 0 0.5rem;
    color: var(--background-color);
    background-color: var(--accent-success);
    font-weight: 600;
}

.price s {
    color: var(--faded-text-color);
}

.price div:last-child {
    color: var(--accent-warning);
    font-weight: 600;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.8rem 0;
}

.btn {
  background: var(--surface-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.buy {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.btn:hover {
  background-color: var(--surface-hover-color);
  color: var(--text-color);
  text-decoration: none;
}

.btn.buy:hover {
    background-color: var(--accent-color-light);
    color: var(--background-color);
}

.more-reviews-btn {
    margin-top: 1rem;
}

.back-home {
    display: inline-block;
    margin: 1rem 0;
}

.back-home a {
    display: block;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.back-home a:hover {
    background-color: #f5c2e7;
    color: var(--background-color);
}

nav {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
    border-bottom: 1px solid var(--surface-color);
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 1.25rem;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
}

nav a:hover {
    color: var(--primary-color-light);
}

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    gap: 0.5rem;
}

.nav-logo img {
    width: 1rem;
    height: 1rem;
}

.pagination {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
