* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #cba6f7;
    --primary-color-light: #f5c2e7;
    --accent-color: #89b4fa;
    --accent-color-light: #74c7ec;
    --text-color: #cdd6f4;
    --background-color: #1e1e2e;
    --font-family-base: monospace, 'Courier New', Courier;
    --font-size-base: 1rem;

    --surface-color: #313244;
    --surface-hover-color: #45475a;
    --muted-text-color: #a6adc8;
    --faded-text-color: #6c7086;

    --accent-success: #a6e3a1;
    --accent-warning: #f9e2af;
    --accent-danger: #f38ba8;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    padding: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }

p {
    margin-bottom: 1em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    /*transition: color 0.3s ease;*/
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Centers the container on the page */
    padding: 0 1rem;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.result-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: var(--surface-color);
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    text-decoration: none;
}

.result-item:hover {
    background: var(--surface-hover-color);
    text-decoration: none;
}

.result-item img {
    /*width: 231px;
    height: 87px;*/
    object-fit: cover;
}

.result-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.result-item div * {
    margin: 0;
}

.result-item p {
    display: flex;
    color: var(--muted-text-color);
    gap: 1rem;
}

.result-item p span:first-child {
    padding: 0 0.5rem;
    color: var(--background-color);
    background-color: var(--accent-success);
    font-weight: 600;
}

.result-item p s {
    color: var(--faded-text-color);
}

.result-item p span:last-child {
    color: var(--accent-warning);
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.slider img {
    width: 100%;
    display: none;
}

.slider img.active {
    display: block;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.controls button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--text-color);
}

.side {
    width: 33.33%;
    flex: 0 0 33.33%;
    overflow: hidden;
    font-size: 0.8rem;
}

.side img {
    max-width: 100%;
    height: auto;
    display: block;
}

.scores {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.scores > div {
    border: 1px solid var(--muted-text-color);
    padding: 0.5em;
}

.rate {
    font-size: 1.25rem;
}

.side p {
    /*padding: 0.5em;*/
    /*margin-bottom: 0;*/
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
  border-bottom: 1px solid var(--muted-text-color);
}

td {
  padding: 0.5em 0;
}

td:last-of-type {
  text-align: right;
}

.add-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.tags, .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tags div {
    color: var(--text-color);
    background-color: var(--surface-hover-color);
    padding: 0em 0.25em;
    font-size: 0.8rem;
}

.tags a:hover {
    text-decoration: none;
}

.links a {
    padding: 0em 0.25em;
    font-size: 0.8rem;
    /*border: 1px solid var(--muted-text-color);*/
}

.pc-req {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 0.8rem;
}

ul {
    margin-left: 1rem;
}

ul li {
    margin-top: 0.1rem;
}

.review-section {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;*/
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.review {
    font-size: 0.8rem;
    padding: 1em;
    border: 1px solid var(--muted-text-color);
}

.review p:first-child {
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.positive {
    color: var(--accent-success);
}

.negative {
    color: var(--accent-danger);
}

.review-text {
    margin-bottom: 0.5rem;
}

.review-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.read-more {
    cursor: pointer;
    color: var(--primary-color);
    display: none;
}

.read-more:hover {
    text-decoration: underline;
}

.price {
    display: flex;
    color: var(--muted-text-color);
    gap: 1rem;
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}

.price div:first-child {
    padding: 0 0.5rem;
    color: var(--background-color);
    background-color: var(--accent-success);
    font-weight: 600;
}

.price s {
    color: var(--faded-text-color);
}

.price div:last-child {
    color: var(--accent-warning);
    font-weight: 600;
}

.cta {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  gap: 0.5rem;
  margin: 0.8rem 0;
}

.btn {
  background: var(--surface-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /*transition: background 0.25s ease;*/
  font-weight: 600;
}

.buy {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.btn:hover {
  background-color: var(--surface-hover-color);
  color: var(--text-color);
  text-decoration: none;
}

.btn.buy:hover {
    background-color: var(--accent-color-light);
    color: var(--background-color);
}

.more-reviews-btn {
    margin-top: 1rem;
}

.back-home {
    display: inline-block;
    margin: 1rem 0;
}

.back-home a {
    display: block;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.back-home a:hover {
    background-color: #f5c2e7;
    color: var(--background-color);
}
