<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Details: {{ game.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>{{ game.name }}</h1>

        <section>
            {% if game.screenshots %}
                <div class="main">
                    <div class="slider">
                        <div class="img-container">
                            {% for shot in game.screenshots %}
                                <img src="{{ shot.path_full if shot.path_thumbnail else shot }}">
                            {% endfor %}
                        </div>

                        <div class="controls">
                            <button onclick="prev()">&lt;</button>
                            <button onclick="next()">&gt;</button>
                        </div>
                    </div>

                    <!-- Genres -->
                    <div class="add-info">
                        <div>
                            <h3>Genres</h4>
                            <div class="tags">
                                {% for genre in game.genres %}
                                    <div>{{ genre }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <h3>Useful Links</h3>
                            <div class="links">
                                {% if game.metacritic %}
                                    <a href="{{ game.metacritic.url }}" target="_blank">Metacritic</a>
                                {% endif %}
                                {% if game.website %}
                                        <a href="{{ game.website }}" target="_blank">Website</a>
                                {% endif %}
                                <a href="{{ game.background_raw }}" target="_blank">Background</a>
                            </div>
                        </div>
                    </div>

                    <!-- PC Requirements -->
                    {% if game.pc_requirements %}
                    <div>
                        <h3>PC Requirements</h3>
                        <div class="pc-req">
                            <div>
                                {{ game.pc_requirements.minimum | safe }}
                            </div>
                            <div>
                                {{ game.pc_requirements.recommended | safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Reviews -->
                    <div>
                        <h3>Reviews</h3>
                        <p>English Reviews: {{ game.review_summary.description }} &lpar;{{ game.review_summary.total_reviews }} Reviews&rpar;</p>
                        <div class="review-section">
                            {% for review in game.reviews %}
                                <div class="review">
                                    {% if review.voted_up %}
                                        <p class="positive">Recommended</p>
                                    {% else %}
                                        <p class="negative">Not Recommended</p>
                                    {% endif %}
                                    <div class="review-text">{{ review.review | safe }}</div>
                                    <div class="review-footer">
                                        <div><i class="fa-solid fa-thumbs-up"></i> {{ review.votes_up }}</div>
                                        <div class="read-more" id="more-btn-{{ review.id }}">Read More</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="side">
                {% if game.header_image %}
                    <img src="{{ game.header_image }}" alt="{{ game.name }} header image.">
                {% endif %}
                <div class="scores">
                    {% if game.metacritic %}
                        <div>
                            <div class="rate">{{ game.metacritic.score }}</div>
                            <div>Metacritic</div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="rate">{{ game.review_summary.positive_percentage }}&percnt;</div>
                        <div>Positive Reviews</div>
                    </div>
                    <div>
                        <div class="rate"">{{ game.tier | capitalize }}</div>
                        <div>ProtonDB</div>
                    </div>
                </div>
                <p>{{ game.short_description }}</p>

                {% if game.price %}
                    <div class="price">
                        <div>{{ game.price.discount }}&percnt;</div>
                        <div>
                            <s>{{ game.price.currency }}{{ game.price.initial }}</s>
                        </div>
                        <div>{{ game.price.currency }}{{ game.price.final }}</div>
                    </div>
                {% endif %}

                <div class="cta">
                    <a href="https://store.steampowered.com/app/{{ game.steam_appid }}" target="_blank" class="btn buy"><i class="fa-solid fa-cart-shopping"></i> Buy</a>
                    <button class="btn save"><i class="fa-solid fa-bookmark"></i> Save</button>
                </div>

                <!-- Metadata -->
                <table>
                    <tbody>
                        <tr>
                            <td>Developer</td>
                            <td>{{ game.developers }}</td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td>{{ game.release_date.date if game.release_date }}</td>
                        </tr>
                        <tr>
                            <td>Platform</td>
                            <td>
                                {% for platform, supported in game.platforms.items() %}
                                    {% if supported %}
                                        {% if platform == "windows" %}
                                            <i class="fa-brands fa-windows"></i>
                                        {% elif platform == "mac" %}
                                            <i class="fa-brands fa-apple"></i>
                                        {% else %}
                                            <i class="fa-brands fa-linux"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Background -->
        <!--{% if game.background_raw %}
            <div class="section">
                <h2>Background</h2>
                <img src="{{ game.background_raw }}">
            </div>
        {% endif %}-->

    </div>
    <script>
        const images = document.querySelectorAll(".slider img");
        images[0].classList.add("active");

        let current = 0;

        function show(index) {
            images[current].classList.remove("active");
            current = (index + images.length) % images.length;
            images[current].classList.add("active");
        }

        function next() {
            show(current + 1);
        }

        function prev() {
            show(current - 1);
        }

        const reviews = document.querySelectorAll(".review-text");
        const readMoreBtns = document.querySelectorAll(".read-more");
        const reviewTexts = [];
        const longReviewsIds = [];

        for (let i = 0; i < reviews.length; i++) {
          reviewTexts.push(reviews[i].textContent);
            if (reviews[i].textContent.length > 400) {
                reviews[i].textContent = reviews[i].textContent.slice(0, 400) + "...";
                readMoreBtns[i].style.display = "block";
                readMoreBtns[i].addEventListener("click", () => toggleRead(i));
            }
        }

        function toggleRead(id) {
            reviews[id].textContent = reviewTexts[id];
            readMoreBtns[id].style.display = "none";
        }
    </script>
</body>
</html>
