<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if game.info_success %}
        <title>{{ game.name }} - SteamInfo Game</title>
    {% else %}
        <title>Error - SteamInfo</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
    <nav>
        <a href="/" class="nav-logo">
            <img src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" alt="SteamInfo Logo" class="logo">
            <div>SteamInfo</div>
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/deals/1">Deals</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>{{ game.name }}</h1>

        {% if game.info_success %}
        <section>
                <div class="main">
                    {% if game.screenshots %}
                        <div class="slider">
                            <div class="img-container">
                                {% for shot in game.screenshots %}
                                    <img src="{{ shot.path_full if shot.path_thumbnail else shot }}">
                                {% endfor %}
                            </div>

                            <div class="controls">
                                <button onclick="prev()">&lt;</button>
                                <button onclick="next()">&gt;</button>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Genres -->
                    <div class="add-info">
                        <div>
                            <h3>Genres</h4>
                            <div class="tags">
                                {% for genre in game.genres %}
                                    <div>{{ genre }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <h3>Useful Links</h3>
                            <div class="links">
                                {% if game.metacritic %}
                                    <a href="{{ game.metacritic.url }}" target="_blank">Metacritic</a>
                                {% endif %}
                                {% if game.website %}
                                        <a href="{{ game.website }}" target="_blank">Website</a>
                                {% endif %}
                                {% if game.background_raw %}
                                    <a href="{{ game.background_raw }}" target="_blank">Background</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- PC Requirements -->
                    {% if game.pc_requirements %}
                    <div>
                        <h3>PC Requirements</h3>
                        <div class="pc-req">
                            <div>
                                {{ game.pc_requirements.minimum | safe }}
                            </div>
                            <div>
                                {{ game.pc_requirements.recommended | safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Reviews -->
                    <div>
                        <h3>Reviews</h3>
                        <p>English Reviews: {{ game.review_summary.description }} &lpar;{{ game.review_summary.total_reviews }} Reviews&rpar;</p>
                        <div class="review-section">
                            {% for review in game.reviews %}
                                <div class="review">
                                    <div class="review-header">
                                        {% if review.voted_up %}
                                            <p class="positive">Recommended</p>
                                        {% else %}
                                            <p class="negative">Not Recommended</p>
                                        {% endif %}
                                        <div class="review-timestamp">
                                            {{ review.timestamp_created }}
                                        </div>
                                    </div>
                                    <div class="review-text">{{ review.review | safe }}</div>
                                    <div class="review-footer">
                                        <div>
                                            <i class="fa-solid fa-thumbs-up"></i> {{ review.votes_up }}
                                        </div>
                                        <div class="read-more" id="more-btn-{{ review.id }}">Read More</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button id="more-reviews" class="btn more-reviews-btn">
                            More Reviews
                        </button>
                    </div>
                    <div>
                        <h3>Price History</h3>
                        <iframe src="https://steambase.io/embed/games/{{ game.steam_appid }}/prices" height="375" loading="lazy" style="border:0;width:100%;font-size:0.8rem;"></iframe>
                    </div>
                </div>

            <!--Sidebar-->
            <div class="side">
                {% if game.header_image %}
                    <img src="{{ game.header_image }}" alt="{{ game.name }} header image." loading="lazy">
                {% endif %}
                <div class="scores">
                    {% if game.metacritic %}
                        <div>
                            <div class="rate">{{ game.metacritic.score }}</div>
                            <div>Metacritic</div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="rate">{{ game.review_summary.positive_percentage }}&percnt;</div>
                        <div>Positive Reviews</div>
                    </div>
                    {% if game.tier %}
                        <div>
                            <div class="rate"">{{ game.tier | capitalize }}</div>
                            <div>ProtonDB</div>
                        </div>
                    {% endif %}
                </div>
                <p>{{ game.short_description | safe }}</p>

                {% if game.price %}
                    <div class="price">
                        <div>{{ game.price.discount }}&percnt;</div>
                        <div>
                            <s>{{ game.price.currency }}{{ game.price.initial }}</s>
                        </div>
                        <div>{{ game.price.currency }}{{ game.price.final }}</div>
                    </div>
                {% endif %}

                <div class="cta">
                    <a href="https://store.steampowered.com/app/{{ game.steam_appid }}" target="_blank" class="btn buy"><i class="fa-solid fa-cart-shopping"></i> Buy</a>
                    <button class="btn save"><i class="fa-solid fa-bookmark"></i> Save</button>
                </div>

                <!-- Metadata -->
                <table class="side-table">
                    <tbody>
                        <tr>
                            <td>Developer</td>
                            <td>{{ game.developers }}</td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td>{{ game.release_date.date if game.release_date }}</td>
                        </tr>
                        <tr>
                            <td>Platform</td>
                            <td>
                                {% for platform, supported in game.platforms.items() %}
                                    {% if supported %}
                                        {% if platform == "windows" %}
                                            <i class="fa-brands fa-windows"></i>
                                        {% elif platform == "mac" %}
                                            <i class="fa-brands fa-apple"></i>
                                        {% else %}
                                            <i class="fa-brands fa-linux"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        {% else %}
            <div>
                <h1>Error</h1>
                <p>Could not fetch the game information data from Steam.</p>
            </div>
        {% endif %}
    </div>
    <script>
        const images = document.querySelectorAll(".slider img");
        images[0].classList.add("active");

        let current = 0;

        function show(index) {
            images[current].classList.remove("active");
            current = (index + images.length) % images.length;
            images[current].classList.add("active");
        }

        function next() {
            show(current + 1);
        }

        function prev() {
            show(current - 1);
        }

        const reviews = document.querySelectorAll(".review-text");
        const readMoreBtns = document.querySelectorAll(".read-more");
        const reviewTexts = [];
        const longReviewsIds = [];

        for (let i = 0; i < reviews.length; i++) {
          reviewTexts.push(reviews[i].textContent);
            if (reviews[i].textContent.length > 400) {
                reviews[i].textContent = reviews[i].textContent.slice(0, 400) + "...";
                readMoreBtns[i].style.display = "block";
                readMoreBtns[i].addEventListener("click", () => toggleRead(i));
            }
        }

        function toggleRead(id) {
            reviews[id].textContent = reviewTexts[id];
            readMoreBtns[id].style.display = "none";
        }

        const revs = document.querySelectorAll(".review");
        const moreReviewsBtn = document.querySelector("#more-reviews");

        if (revs.length == 0) {
            moreReviewsBtn.style.display = "none";
        }

        for (let i = 3; i < revs.length; i++) {
            revs[i].style.display = "none";
        }
        moreReviewsBtn.addEventListener("click", () => toggleMoreReviews());

        function toggleMoreReviews() {
          moreReviewsBtn.style.display = "none";
          for (let i = 3; i < revs.length; i++) {
                revs[i].style.display = "block";
            }
        }

        const reviewTimestamps = document.querySelectorAll(".review-timestamp");
        const datetimes = Array.from(reviewTimestamps).map(timestamp => {
            dt = new Date(parseInt(timestamp.textContent.trim()) * 1000);
            return dt.toDateString();
        });

        for (let i = 0; i < datetimes.length; i++) {
            reviewTimestamps[i].textContent = datetimes[i];
        }
    </script>
</body>
</html>
