<!DOCTYPE html>
<html>
<head>
    <title>SteamInfo - Home of Steam Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
    <div class="container">
        <header class="flexbox">
            <img src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" alt="SteamInfo Logo" class="logo">
            <h1>SteamInfo</h1>
        </header>

        <div>
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search SteamInfo">
                <button type="submit" class="btn buy">Search</button>
            </form>
        </div>

        <div>
            <a href="https://steamdb.info/sales/?cc=in&max_price=1000&min_discount=50&min_rating=90&min_reviews=5000&sort=rating_desc" target="_blank">SteamDB Sale</a>
        </div>

        <div class="results">
            <h2>Best Deals on Steam</h2>
            {% for deal in deals.deals %}
                <a href="/game/{{ deal.steam_appid }}" class="deal result-item">
                    <img src="{{ deal.thumb }}" alt="{{ deal.title }} thumbnail" loading="lazy">
                    <div>
                        <h3>{{ deal.title }}</h3>
                        <p>
                            <span>{{ deal.discount }}&percnt;</span>
                            <span><s>{{ deal.currency }}{{ deal.init_price }}</s></span>
                            <span>{{ deal.currency }}{{ deal.sale_price }}</span>
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
