<!DOCTYPE html>
<html>
<head>
    <title>{{ search_query }} - SteamInfo Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
    <div class="container">
        <h1>Search Results</h1>

        {% if search_query %}
            <p>Results for: <strong>{{ search_query }}</strong></p>
            <div class="results">
                {% for game in search_results %}
                    <a href="/game/{{ game.id }}" class="result-item">
                        <img src="{{ game.tiny_img }}" alt="{{ game.name }}">
                        <div>
                            <h3>{{ game.name }}</h3>
                            {% if game.price %}
                                <p>
                                    <span>{{ game.price.discount }}&percnt;</span>
                                    <span><s>{{ game.price.currency }}{{ game.price.initial }}</s></span>
                                    <span>{{ game.price.currency }}{{ game.price.final }}</span>
                                </p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>

        {% else %}
            <p>Error: No search query provided.</p>
        {% endif %}
        <div class="back-home">
            <a href="/" class="btn">Go Back</a>
        </div>
    </div>
</body>
</html>
