<!DOCTYPE html>
<html>
<head>
    <title>{{ search_query }} - SteamInfo Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body>
    <nav>
        <a href="/" class="nav-logo">
            <img src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" alt="SteamInfo Logo" class="logo">
            <div>SteamInfo</div>
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/deals/1">Deals</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="flex">
            <header class="flexbox">
                <img src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" alt="SteamInfo Logo" class="logo">
                <h1>SteamInfo</h1>
            </header>

            <div>
                <form action="/search" method="get">
                    <input type="text" name="q" placeholder="Search SteamInfo" value="{{ search_query }}" autocomplete="off">
                    <button type="submit" class="btn buy">Search</button>
                </form>
            </div>
        </div>

        <h2 class="search-title">Search Results</h2>

        {% if search_query %}
            <!--<p>Results for: <strong>{{ search_query }}</strong></p>-->
            <div class="results">
                {% for game in search_results %}
                    <a href="/game/{{ game.id }}" class="result-item">
                        <img src="{{ game.tiny_img }}" alt="{{ game.name }}">
                        <div>
                            <h3>{{ game.name }}</h3>
                            {% if game.price %}
                                <p>
                                    <span>{{ game.price.discount }}&percnt;</span>
                                    <span><s>{{ game.price.currency }}{{ game.price.initial }}</s></span>
                                    <span>{{ game.price.currency }}{{ game.price.final }}</span>
                                </p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Error: No search query provided.</p>
        {% endif %}
    </div>
</body>
</html>
